#header {
    background: $headerColor;
}

.dropdown-left {
    .drobdown-left__link {
        text-decoration: none;
    }
    float: left;
}

.dropdown-right {
    float: right;
    &__link {
        display: inline-block;
        text-decoration: none;
        &--padding {
            padding-right: 26px;
        }
    }
}

.logo {
    display: inline-block;
    font: 20px 'Lato-Regular' bold;
    color: $logoColor;
}

#nav-menu {
    ul {}
    li {
        display: inline-block;
        font: 16px 'Lato-Regular';
        color: $navBarColor;
    }
    a {
        text-decoration: none;
    }
}
