<<<<<<< HEAD:Ternopolka/Project/responsive/saas/sass/_variables.scss
// our verables and constants
=======
// Our veriables and constants
>>>>>>> 76bd8f324b8382e56a43dfeaf1b7dbe7d2b7995c:Responsive_example/sass/_variables.scss

// Container params
$containerWidth: 1000px;
$containerPadding: 15px;

$mainWidth: 600px;
$mainPadding: 15px;

$sidebarWidth: 250px;
$sidebarMargin: 50px;
$sidebarPadding: 15px;

<<<<<<< HEAD:Ternopolka/Project/responsive/saas/sass/_variables.scss
$headerHeigth: 100px;
=======
$headerHeight: 100px;
>>>>>>> 76bd8f324b8382e56a43dfeaf1b7dbe7d2b7995c:Responsive_example/sass/_variables.scss
$headerMargin: 0 0 20px;

// Footer params
$footerHeight: 100px;

<<<<<<< HEAD:Ternopolka/Project/responsive/saas/sass/_variables.scss
//colors
$generalBgcolor: #eee;
$headerBgColor: #efe;
$footerbgColor: #eef;

//Media
=======
// Colors
$generalBgColor: #eee;
$headerBgColor: #efe;
$footerbgColor: #eef;

// @Media
>>>>>>> 76bd8f324b8382e56a43dfeaf1b7dbe7d2b7995c:Responsive_example/sass/_variables.scss

$tabletDeviceWidth: 1000px;