.holder {
	position: relative;
	width: 300px;
	height: 300px;
	margin: 0 auto;
	background: #cfd8dc
}



.triangle {
	position: absolute;
	margin: 0 -7px;
	top: 50%;
	left: 50%;
	margin: -25px -25px;
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 12px 14px 12px 0;
	border-color:  transparent #76ff03 transparent transparent;
	/* для квадрата транспарент заменить цветом*/
}