// Container Params

$container: 1500px;


// Colors

$generalColor: #ffffff;
$headerColor: #fcfcfc;
$footerColor: #fcfbfb;
$sliderColor: #edecec;
$logoColor: #989898;
$navBarColor: #989898;
$navBarColor: #989898;


// Fonts
